# Compiled files
*.o
*.out
*.exe
*.a
*.so
*.dll

# Binary data files
accounts.dat
GeneralLedgerEntries.dat

# Backup files created by editors
*~
*.bak
*.swp

# IDE-specific files
.vscode/
.idea/

# log files
*.log
